/* Google fonts 4 lyf */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,700);

html, body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

html {
  font-family: "Roboto", "Lato", sans-serif;
  min-height: 100%;
}

/* Footer workaround */
body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 50px;
  box-sizing: border-box;
  background-color: #1D1D1D;
  color: #F9F9F9;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
  transition: color 0.15s;
}

a:hover {
  color: #33BB33;
}

.link, .link:visited {
  color: #229922;
}

/* Header */

.header {
  width: 100%;
  padding: 25px;
  padding-left: 35px;
  padding-right: 35px;
  color: #EEEEEE;
  box-sizing: border-box;
  text-align: center;
}

.flashmessage {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 8px;
  font-size: 12pt;
  display: inline-block;
  margin-left: 15px;
  box-shadow: 0px 0px 2px #ffffff;
  border-radius: 3px;
  background-color: #4d4d4d;
  color: #ffffff;
  box-sizing: border-box;
}

.header h1 {
  display: inline-block;
  font-family: "Lato";
  font-size: 12pt;
  font-weight: 400;
}

/* Footer */

.footer {
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  background-color: #2D2D2D;
  color: #eeeeee;
  position: absolute;
  bottom: 0;
}

.footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer ul li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

/* Front page */

.page {
  width: 1020px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 15px;
  box-sizing: border-box;
}

.bio {
  margin-top: 20px;
  margin-bottom: 40px;
}

.entries {
  max-width: 100%;
  margin: 50px 0px 0px 0px;
  padding: 0;
}

.entries a li {
  list-style: none;
  width: 100%;
  background-color: #2D2D2D;
  color: #ffffff;
  box-sizing: border-box;
  padding: 15px;
  margin-top: 15px;
  font-family: "Lato", "Roboto", sans-serif;
  font-size: 24pt;
  font-weight: 300;
  transition: background 0.2s;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.entries a:visited li {
  font-size: 22pt;
  color: #ffffff;
}

.entries a:hover li {
  background-color: #4D4D4D;
  color: #fff;
}

.allposts {
  list-style: none;
  color: #999999;
}

.entries a .more, .entries a:visited .more {
  margin-top: 15px;
  padding: 10px;
  background: none;
  color: #AAAAAA;
  box-shadow: none;
}

.entries a:hover .more {
  background-color: rgba(0,0,0,0.3);
}

/* Post page */

.post {
  font-family: "Roboto", sans-serif;
  font-size: #EFEFEF;
}

.title {
  width: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 24pt;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 40px;
  border-bottom: solid 2px #229922;
}

.metacontrols {
  background-color: #229922;
  color: #ffffff;
  padding: 8px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

.metacontrols p {
  display: inline-block;
  box-sizing: border-box;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #2d2d2d;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.3);
}

.metacontrols .metatitle {
  display: block;
  font-size: 150%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin-bottom: 5px;
}

.post h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 32pt;
  color: #229922;
  border-bottom: 1px dotted #aaaaaa;
  margin-bottom: 10px;
  margin-top: 40px;
}

.post h2 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 22pt;
  color: #229922;
  border-bottom: 1px dotted #aaaaaa;
  margin-bottom: 5px;
  margin-top: 30px;
}

.post h3 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16pt;
  color: #229922;
  margin-bottom: 3px;
  margin-top: 20px;
}

.post p {
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 12pt;
  line-height: 145%;
}

.post ul li, post ol li {
  font-size: 14pt;
}

.post a {
  color: #229922;
}

.post a:hover {
  color: #33BB33;
}

.post img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 5px #111;
}

.post blockquote {
  color: #AAAAAA;
  margin: 0px;
  padding: 5px 5px 5px 25px;
  font-style: italic;
  border-left: 1px solid #AAAAAA;
}

.title .time {
  color: #AAAAAA;
  font-size: 75%;
  font-weight: 300;
}

/* Login form */

.loginform {
  width: 540px;
  max-width: 100%;
  margin-top: 10vh;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  margin-left: auto;
  margin-right: auto;
}

.loginform input {
  width: 100%;
  padding: 25px;
  margin: 0;
  box-sizing: border-box;
  background-color: #EEEEEE;
  color: #111111;
  border: none;
  border-bottom: solid 2px #cccccc;
  box-shadow: none;
  font-size: 18pt;
  outline: none;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  transition: background 0.1s ease-in-out;
}

.loginform input:hover {
  background-color: #EEEEEE;
}

.loginform input:focus {
  background-color: #DDDDDD;
}

.loginform input[type="submit"] {
  background-color: #229922;
  color: #FFFFFF;
  border: none;
  padding: 15px;
  font-size: 22pt;
  transition: background 0.1s ease-in-out;
}

.loginform input[type="submit"]:hover {
  background-color: #33BB33;
}

/* Add post page */

.add-entry {
  width: 1020px;
  padding: 5px;
  max-width: 100%;
  box-sizing: border-box;
}

.add-entry textarea {
  width: 100%;
  height: 50vh;
  padding: 25px;
  font-size: 14pt;
  resize: none;
  border: none;
  box-sizing: border-box;
  background-color: #EEEEEE;
  color: #111111;
  box-shadow: none;
  outline: none;
  font-family: "Roboto", sans-serif;
}

.add-entry input[type="text"] {
  width: 100%;
  padding: 25px;
  margin: 0;
  box-sizing: border-box;
  background-color: #F9F9F9;
  color: #111111;
  border: none;
  border-bottom: solid 2px #CCCCCC;
  box-shadow: none;
  font-size: 18pt;
  outline: none;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.add-entry input[type="submit"] {
  width: 250px;
  max-width: 100%;
  display: block;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16pt;
  box-sizing: border-box;
  color: #FFFFFF;
  background-color: #229922;
  outline: none;
  transition: background 0.15s;
}

.add-entry input[type="submit"]:hover {
  background-color: #33BB33;
}