/* Google fonts 4 lyf */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

html, body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

html {
  font-family: "Roboto", "Lato", sans-serif;
  min-height: 100%;
}

/* Footer workaround */
body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 50px;
  box-sizing: border-box;
  background-color: #2d2d2d;
  color: #ffffff;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
  transition: color 0.15s;
}

a:hover {
  color: #B0B0F0;
}

/* Header */

.header {
  width: 100%;
  padding: 25px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: #FFFFFF;
  color: #666666;
  box-sizing: border-box;
}

.flashmessage {
  padding: 3px;
  font-size: 10pt;
  display: inline-block;
  margin-left: 15px;
  box-shadow: 0px 0px 2px #ffffff;
  border-radius: 3px;
  background-color: #4d4d4d;
  color: #ffffff;
  box-sizing: border-box;
}

.header h1 {
  display: inline-block;
  font-family: "Lato";
  font-size: 12pt;
  font-weight: 400;
}

/* Footer */

.footer {
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  background-color: #4d4d4d;
  color: #eeeeee;
  position: absolute;
  bottom: 0;
}

.footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer ul li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

/* Front page */

.page {
  width: 1020px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 15px;
  box-sizing: border-box;
}

.entries {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.entries a li {
  list-style: none;
  width: 100%;
  background-color: #6060A0;
  color: #ffffff;
  box-sizing: border-box;
  padding: 50px;
  font-size: 24pt;
  font-weight: 300;
  transition: background 0.2s;
  text-align: center;
  box-shadow: 0px 0px 4px #111111;
  margin-top: 10px;
  margin-bottom: 10px;
}

.entries a:visited li {
  background-color: #404080;
  font-size: 22pt;
  color: #aaaaaa;
}

.entries a:hover li {
  background-color: #8080E0;
  color: #fff;
}

/* Post page */

.title {
  background-color: #6060A0;
  color: #ffffff;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 28pt;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.post h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 32pt;
  color: #8080F0;
  border-bottom: 1px dotted #aaaaaa;
  margin-bottom: 10px;
  margin-top: 70px;
}

.post p {
  margin-top: 22px;
  margin-bottom: 22px;
  font-size: 14pt;
  line-height: 145%;
}

.post ul li, post ol li {
  font-size: 14pt;
  margin-top: 5px;
  margin-bottom: 5px;
}

.post a {
  color: #8080F0;
}

.post a:hover {
  color: #B0B0F0
}

/* Add post page */

.add-entry {
  width: 1020px;
  padding: 5px;
  max-width: 100%;
}

.add-entry textarea {
  width: 100%;
  height: 50vh;
  padding: 25px;
  font-size: 14pt;
  border: none;
  box-sizing: border-box;
  background-color: #eeeeee;
  color: #2d2d2d;
  box-shadow: none;
  outline: none;
  font-family: "Roboto", sans-serif;
}

.add-entry textarea:active {
  box-shadow: none;
}

.add-entry input[type="text"] {
  width: 100%;
  padding: 25px;
  margin: 0;
  box-sizing: border-box;
  background-color: #eeeeee;
  color: #2d2d2d;
  border: none;
  border-bottom: solid 2px #666666;
  box-shadow: none;
  font-size: 18pt;
  outline: none;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.add-entry input[type="submit"] {
  width: 250px;
  max-width: 100%;
  display: block;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16pt;
  box-sizing: border-box;
  color: #FFFFFF;
  background-color: #6060A0;
  outline: none;
  transition: background 0.15s;
}

.add-entry input[type="submit"]:hover {
  background-color: #9090F0;
}
