/* Google fonts 4 lyf */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-family: "Roboto", "Lato", sans-serif;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

.header {
  width: 100%;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #2d2d2d;
  color: #fff;
  box-sizing: border-box;
}

.flashmessage {
  padding: 3px;
  font-size: 12pt;
  display: inline-block;
  margin-left: 15px;
  box-shadow: 0px 0px 2px #ffffff;
  border-radius: 3px;
  background-color: #4d4d4d;
  color: #ffffff;
  box-sizing: border-box;
}

.header h1 {
  display: inline-block;
  font-family: "Lato";
  font-size: 18pt;
  font-weight: 300;
}

/* Front page */

.page {
  width: 1020px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 15px;
  box-sizing: border-box;
}

.entries {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.entries a li {
  list-style: none;
  width: 100%;
  background-color: #203060;
  color: #ffffff;
  box-sizing: border-box;
  padding: 50px;
  font-size: 24pt;
  font-weight: 300;
  transition: background 0.2s;
  text-align: center;
}

.entries a:visited li {
  background-color: #152550;
  font-size: 22pt;
  color: #aaaaaa;
}

.entries a:hover li {
  background-color: #304070;
  color: #fff;
}

/* Post page */

.title {
  background-color: #203060;
  color: #ffffff;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 24pt;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.post h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  border-bottom: 1px dotted #aaaaaa;
  margin-bottom: 10px;
  margin-top: 30px;
}

.post p {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 13pt;
}
