<!doctype html>
<html>
  <head>
    <title>Placeholder</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="header">
      <h1><a href="{{ url_for('home') }}">Quad's blog thing</a></h1>
      {% for message in get_flashed_messages() %}
      <p class="flashmessage">{{ message }}</p>
      {% endfor %}
    </div>
    <div class="page">
      <div class=metanav>
      {% if session.logged_in %}
        <a href="{{ url_for('logout') }}">log out</a>
      {% endif %}
      </div>
      {% block body %}{% endblock %}
    </div>
    <div class="footer">
      <ul>
        <li><a href="https://twitter.com/QuadPiece">Twitter</a></li>
        <li><a href="http://quad.moe/">Homepage</a></li>
      </ul>
    </div>
  </body>
</html>
